<h1>Convert <%= @symbol%></h1>
<p> Go <a href="/forex"> back</a>.</p>

<ul>
  <% @array_symbol.each do |element|%>
    <li>
      <a href = "/forex/<%= @symbol%>/<%= element%>">
        Convert 1 <%= @symbol%> to <%= element%>
        </a>
    </li>
  
  <%end%>
</ul>